@import "../../sass/var.scss";

.fab {
  font-size: 2.2rem;
  color: #ffffff;
  background-color: $greenColorThemeLight;
  margin: 1rem;
  padding: 0.5rem;
  outline: none;
  border-radius: 50%;
  box-shadow: 2px 7px 10px #000000;
}

.dark .fab {
  background-color: #5f5e5e;
}

.fab:hover {
  background-color: #0eb5ff;
}

.dark .fab:hover {
  background-color: $greenColorThemeLight;
}

.fab:active {
  box-shadow: 2px 0px 10px #000000;
}

.dark .fab:active {
  background-color: #0eb5ff;
}

.header-icon {
  text-decoration: none;
}
