@import "../../sass/mixin.scss";
@import "../../sass/var.scss";

* {
  margin: 0;
  font-size: 10px;
  font-family: "Mukta", sans-serif;

  @include media($desktop) {
    font-size: 7px;
  }

  @include media($phone) {
    font-size: 5px;
  }
}

body {
  margin: 0px;
  background-color: $bgColor;
}

.dark {
  background-color: #000000c9;
}
